<template>
  <Layout>
    <div></div>
    <div>
      <div class="p-6 bg-black rounded-xl shadow-md space-x-4 text-blue-600">
        <g-link to="/blog" class="link">  &larr; Go Back</g-link>
        <div class="post-title">
          <h1>{{$page.post.title}}</h1>
            <p class="post-date"> {{ $page.post.date}} | {{$page.post.timeToRead}} min read 
          </p>
        </div>
        <div class="post-content">
          <p v-html="$page.post.content" />
        </div>
      </div>
    </div>
    <div></div>
  </Layout>
</template>


<page-query>
query Post ($path: String!) {
   post: post (path: $path) {
    id
    title
    content
    date (format: "D MMMM YYYY")
    timeToRead
  }
}
</page-query>
