<template>
  <Layout>
    <div class=""> </div>
    <div class="">
      <h1>My blog</h1>
      <div v-for="{ node } in $page.allPost.edges" :key="node.id">
        <h3>{{ node.title }}</h3>
        <g-link :to="node.path">Read more</g-link>
      </div>
    </div>
    <div class=""> </div>
  </Layout>
</template>

<!-- Query from local GraphQL data layer. -->
<page-query>
query {
  allPost {
    edges {
      node {
        id
        title
        path
      }
    }
  }
}
</page-query>

