/* @theme your-theme */

@import 'default';

section {
  /* background: rgb(251,193,15); */
  /* background: rgb(73, 139, 24); */
  background: rgb(31,27,36); /*rgb(9, 77, 152);*/
  /* --primary-color: #fc9; */
  color: white;
}

h1 {
    border-bottom: none;
    /* color: rgb(3,44,88); */
    /* color: rgb(73, 139, 24); */
    /* color: rgb(251, 193, 15); */
    color: rgb(251, 193, 15);
    font-size: 1.6em;
    font-family: 'Calibri';
}

h2 {
  border-bottom: none;
  color: rgb(251, 193, 15);
  font-family: 'Calibri';
}

pre {
  background-color: rgb(253, 215, 126);
  /* background-color: white; rgba(31,27,36,.4); */
  border: 0px;
  border-color: white;
  color: black;
}