<template>
  <div class="w-full">
    <div class="grid grid-cols-3 gap-4 p-9 bg-gradient-to-r from-green-400 to-blue-500"> 
    
      <div>
        <g-link to="/"><span class="bg-clip-text text-transparent text-xl bg-gradient-to-r from-blue-900 to-green-700  ">{{ $static.metadata.siteName.toUpperCase() }}</span></g-link>
      </div>
      <div class="text-right">
      </div>
      <div class="text-right text-white ">
        <nav>
          <g-link class="bg-green-700 text-white px-3 py-2 rounded-md text-sm font-medium" to="/">Home</g-link>
          <g-link class="bg-green-700 text-white px-3 py-2 rounded-md text-sm font-medium ml-3" to="/about/">About</g-link>
          <g-link class="bg-green-700 text-white px-3 py-2 rounded-md text-sm font-medium ml-3" to="/blog/">Blog</g-link>
        </nav>
      </div>
    </div>

    <div class="grid grid-cols-myOwn gap-4 p-9">
      <slot/>
    </div>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style>
.text-transparent {
  color: transparent;
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

.layout {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
}

.nav__link {
  margin-left: 20px;
}
</style>
